tqdm
ftfy
regex
wilds
pandas
uvicorn
fastapi
clip
python-multipart
--extra-index-url https://download.pytorch.org/whl/cpu
numpy==1.26.4
torch==2.2.1+cpu
torchvision==0.17.1+cpu
git+https://github.com/modestyachts/ImageNetV2_pytorch
