--extra-index-url https://download.pytorch.org/whl/cpu
tqdm
ftfy
regex
wilds
pandas
uvicorn
fastapi
python-multipart
torch
torchvision
numpy
mangum
git+https://github.com/openai/CLIP.git
git+https://github.com/modestyachts/ImageNetV2_pytorch.git